.info{
    text-align: center;
}
.info1{
    letter-spacing: .06em;
    font-weight: 100;
    margin-bottom: 3%;
}
.info2{
    letter-spacing: .06em;
    margin-bottom: 3%;
    font-size: 2.5vw;
}
.info3 {
    text-align: center;
    width: 50%;
    margin: 0 auto; /* This centers the block horizontally */
    font-size: 70%;
    margin-bottom: 10%;
}
